* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segos UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #fbfbfb;
}
